In [4]:
%pylab inline
from collections import Counter
from riboraptor.helpers import is_read_uniq_mapping, create_bam_index

Populating the interactive namespace from numpy and matplotlib

In [15]:
import pysam
five = Counter()
three = Counter()
ft = Counter()

In [18]:
bam = pysam.AlignmentFile('/staging/as/wenzhenl/ribocop-test/SRX217030.bam', 'rb')

In [19]:
max_count = 1000000
cur_count = 0

for read in bam.fetch(until_eof=True):
    cur_count += 1
    if cur_count >= max_count:
        break
    if read.is_qcfail:
        continue
    if read.is_duplicate:
        continue
    if read.is_secondary:
        continue
    if read.is_unmapped:
        continue
    if not is_read_uniq_mapping(read):
        continue

    pos = read.get_reference_positions(full_length=True)
    fnone = tnone = 0
    
    for i in range(0, len(pos)):
        if pos[i] is None:
            fnone+=1
        else:
            break
    for i in range(len(pos)-1,-1, -1):
        if pos[i] is None:
            tnone+=1
        else:
            break
        
    five[fnone] += 1
    three[tnone] += 1
    ft[(fnone, tnone)] += 1

In [20]:
ft.most_common()

[((12, 0), 66310),
 ((0, 0), 45446),
 ((4, 0), 28225),
 ((5, 0), 25457),
 ((0, 4), 24858),
 ((3, 0), 24854),
 ((0, 5), 21524),
 ((0, 3), 20461),
 ((6, 0), 17427),
 ((2, 0), 17160),
 ((0, 6), 15656),
 ((1, 0), 14947),
 ((0, 2), 14333),
 ((0, 10), 13712),
 ((11, 0), 13536),
 ((1, 3), 12459),
 ((0, 1), 11271),
 ((0, 7), 11182),
 ((1, 1), 11033),
 ((0, 11), 10845),
 ((1, 2), 10792),
 ((7, 0), 10087),
 ((0, 9), 8906),
 ((0, 8), 8660),
 ((0, 12), 8603),
 ((8, 0), 8364),
 ((9, 0), 8059),
 ((2, 1), 7975),
 ((1, 4), 7858),
 ((3, 1), 7808),
 ((1, 5), 7394),
 ((10, 0), 7103),
 ((4, 1), 6708),
 ((5, 1), 4414),
 ((1, 6), 4106),
 ((1, 11), 2927),
 ((6, 1), 2907),
 ((1, 9), 2583),
 ((1, 8), 2571),
 ((1, 7), 1995),
 ((1, 10), 1849),
 ((7, 1), 1780),
 ((8, 1), 1389),
 ((9, 1), 1360),
 ((10, 1), 1267),
 ((11, 1), 905),
 ((2, 2), 575),
 ((2, 3), 359),
 ((3, 2), 294),
 ((2, 4), 282),
 ((4, 2), 243),
 ((2, 5), 171),
 ((2, 6), 133),
 ((5, 2), 131),
 ((6, 2), 116),
 ((2, 7), 105),
 ((3, 3), 100),
 ((2, 9), 74),
 ((2, 10), 74),
 ((5, 5), 65),
 ((8, 2), 64),
 ((2, 8), 59),
 ((7, 2), 59),
 ((9, 2), 58),
 ((10, 2), 45),
 ((4, 3), 30),
 ((3, 4), 29),
 ((6, 4), 28),
 ((3, 5), 26),
 ((3, 6), 24),
 ((5, 3), 20),
 ((3, 9), 13),
 ((7, 3), 12),
 ((4, 6), 11),
 ((3, 7), 10),
 ((3, 8), 10),
 ((4, 4), 9),
 ((4, 5), 8),
 ((6, 3), 8),
 ((8, 3), 6),
 ((7, 5), 6),
 ((9, 3), 5),
 ((4, 8), 4),
 ((8, 4), 4),
 ((4, 7), 4),
 ((5, 4), 4),
 ((5, 7), 2),
 ((6, 6), 1),
 ((5, 6), 1),
 ((7, 4), 1)]

In [14]:
cur_count

438933338

In [12]:
five.most_common()

[(0, 6907517),
 (1, 1797095),
 (4, 949816),
 (3, 922607),
 (2, 828825),
 (5, 741460),
 (6, 594823),
 (11, 576566),
 (7, 448360),
 (12, 446178),
 (9, 359525),
 (8, 353857),
 (10, 350480),
 (13, 2)]

In [13]:
three.most_common()

[(0, 7112162),
 (1, 1723772),
 (4, 995801),
 (3, 985885),
 (2, 835269),
 (5, 778241),
 (6, 570937),
 (9, 442884),
 (7, 404101),
 (8, 400378),
 (11, 386019),
 (10, 372897),
 (12, 268761),
 (13, 4)]